.chatbox {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px; /* Increased padding */
  margin: 12px auto; /* Increased margin */
  width: 100%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  height: 100px; /* Increased height */
}

.chatbox:hover {
  background-color: #e8e8e8;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.account-pp {
  width: 40px;  /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  object-fit: cover;
}

.participant-info {
  flex: 1;
  font-size: 18px;
  font-weight: bold;
  color:#333;
}