/* Form.css */

/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Main form container */
  .formBox {
    max-width: 600px; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Step info */
  .formBox h2 {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Label styling */
  .formBox label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
  }
  
  /* Input and textarea styling */
  .formBox input,
  .formBox textarea,
  .formBox select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    color: #333;
  }
  
  /* Adjust textarea height */
  .formBox textarea {
    height: 100px;
  }
  
  /* Dropdown styling */
  .formBox select {
    appearance: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  /* Add custom arrow icon for the dropdown */
  .formBox select::after {
    content: '\25BC'; /* Unicode down arrow character */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
  }
  
  /* Style the dropdown options */
  .formBox select option {
    background-color: #f9f9f9;
    color: #333;
  }
  
  /* Hover effect for the dropdown options */
  .formBox select option:hover {
    background-color: #e0e0e0;
  }
  
  /* Additional global styles */
  
  /* Apply a default font family */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Add some spacing between components */
  .formBox button,
  .formBox input,
  .formBox select,
  .formBox textarea {
    margin-bottom: 15px;
  }
  
  /* Style buttons consistently */
  .formBox button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .formBox button:hover {
    background-color: #0056b3;
  }
  .custom-file-label {
    display: block;
    padding: 10px;
    background-color: #ffffff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .custom-file-label:hover {
    background-color: #e0e7f0;
  }